/* Structure */
table {

    width: 70%;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: sans-serif; */
  font-size: large;

  }
  .mat-row:nth-child(even){
    background-color: rgb(0, 255, 255);
}
        
.mat-row:nth-child(odd){
    background-color: white;
}  
  .mat-form-field {
    font-size: 14px;
    /* font-size: large; */
    width: 100%;
  }
  .mat-column-name_client {
    font-size: large;
  }
  .mat-column-price_rental {
    font-size: large;
    text-align: right;

  }
  .mat-column-overdue_debt {
    text-align: right;
  }
  
  